os:
  - osx
  - linux

addons:
  apt:
    packages:
      - icnsutils
      - graphicsmagick

language: node_js
node_js:
  - 8
cache: yarn

install:
  - yarn install

script:
  - echo $KEYS > ./src/keys.js
  - yarn run dist
  - rm ./src/keys.js
