.add-widget-button {
  padding: 0;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 50px;
  padding: 1px 9px 6px 9px;
  background: url(./add-button.svg) no-repeat;
  color: transparent;
  border: none;
  opacity: 0.5;
  display: block;
  width: 32px;
  height: 32px;
}

body:hover .add-widget-button {
  opacity: 1;
}


.add-widget-wrapper {
  --height: 150px;
  --titleSize: 16px;
  --outerMargin: 10px;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  transition: all 0.25s;
}

.add-widget-wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.add-widget {
  position: fixed;
  height: calc(var(--height) + var(--titleSize));
  top: 50%;
  left: 0;
  right: 0;
  background: var(--page-background-overlay);
  margin: calc((var(--height) + var(--titleSize)) * -0.5) auto 0 auto;
}

.add-widget-title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--placeholder-text-color);
}

.add-widget-service-option {
  float: left;
  margin: var(--outerMargin) 0;
}

.add-widget-service-option:first-child {
  margin-left: calc(var(--outerMargin) / 2);
}

.add-widget-service-button {
  width: calc(var(--height) - (var(--outerMargin) * 2));
  padding: 0;
  margin: 0 calc(var(--outerMargin) / 2);
  background: transparent no-repeat center center;
  background-size: 75%;
  border: none;
  vertical-align: bottom;
  padding-top: calc(var(--height) - (var(--outerMargin) * 3.25));
  opacity: 0.75;
  font-weight: 600;
}

.add-widget-service-button:hover {
  opacity: 1;
}

.add-widget-close-button {
  padding: 0 0 2px 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
  line-height: 0;
  border-color: var(--deemphasized-text);
  color: var(--deemphasized-text);
}