@import 'vars_mixins.scss';


.add-widget-button {
  padding: 0;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 50px;
  padding: 1px 9px 6px 9px;
  background: url(/add-button.svg) no-repeat;
  color: transparent;
  border: none;
  opacity: 0.5;
  display: block;
  width: 32px;
  height: 32px;
}

body:hover .add-widget-button {
  opacity: 1;
}

$height: 150px;
$titleSize: 16px;
$outerMargin: 10px;

.add-widget-wrapper {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  transition: all 0.25s;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.add-widget {
  position: fixed;
  height: ($height + $titleSize);
  top: 50%;
  left: 0;
  right: 0;
  background: $page_background_overlay;
  margin: (($height + $titleSize) * -0.5) auto 0 auto;
}

.add-widget-title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  color: $placeholder_text_color;
}

.add-widget-service-option {
  float: left;
  margin: $outerMargin 0;
}

.add-widget-service-option:first-child {
  margin-left: ($outerMargin / 2);
}

.add-widget-service-button {
  width: ($height - ($outerMargin * 2));
  padding: 0;
  margin: 0 ($outerMargin / 2);
  background: transparent no-repeat center center;
  background-size: 75%;
  border: none;
  vertical-align: bottom;
  padding-top: ($height - ($outerMargin * 3.25));
  opacity: 0.75;
  font-weight: 600;
  &:hover {
    opacity: 1;
  }
}

.add-widget-close-button {
  padding: 0 0 2px 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
  line-height: 0;
  border-color: $deemphasized_text;
  color: $deemphasized_text;
}