@import 'vars_mixins.scss';
@import '../../node_modules/react-grid-layout/css/styles.css';
@import '../../node_modules/react-resizable/css/styles.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  background: $page_background;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $page_background_overlay;
}

textarea,input[type=text] {
  outline: none;
  border: solid 1px #ccc;
  &:focus {
    border-color: $widget_ui_control_color;
  }
}

button {
  border: solid 1px #ccc;
  outline: none;
  background: white;
  color: black;
  transition: all 0.25s;
  padding: 0.25em 1em;
  cursor: pointer;
  &.destructive {
    border-color: rgb(168, 84, 84);
  }
  &:hover {
    border-color: $widget_ui_control_color;
  }
  &:active {
    border-color: $widget_ui_control_highlight_color;
  }
}
