@import 'vars_mixins.scss';
@import '../../node_modules/react-grid-layout/css/styles.css';
@import '../../node_modules/react-resizable/css/styles.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  background: $page_background;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $page_background_overlay;
}
