@import 'vars_mixins.scss';
@import '../../node_modules/react-grid-layout/css/styles.css';
@import '../../node_modules/react-resizable/css/styles.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  background: $page_background;
  background-size: cover;
  background-attachment: fixed;
}

textarea,input[type=text] {
  outline: none;
  border: solid 1px #ccc;
  &:focus {
    border-color: $widget_ui_control_color;
  }
}

button {
  border: solid 1px #ccc;
  outline: none;
  background: white;
  color: black;
  transition: all 0.25s;
  padding: 0.25em 1em;
  cursor: pointer;
  &.small {
    font-size: 0.75em;
  }
  &.destructive {
    border-color: $widget_ui_control_danger;
  }
  &.additive {
    border-color: $widget_ui_control_success;
  }
  &:hover {
    border-color: $widget_ui_control_color;
  }
  &:active {
    border-color: $widget_ui_control_highlight_color;
  }
}

.dashboard-placeholder {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: $placeholder_text_color;
  text-align: center;
  background: white url(/arrow.svg) no-repeat;
  background-size: auto 30%;
  background-position: 90% 80%;
  .dashboard-placeholder-text-1 {
    font-weight: 300;
    font-size: 16px;
  }
  .dashboard-placeholder-text-2 {
    font-weight: 600;
    font-size: 58px;
    text-transform: uppercase;
    padding: 0.25em 0 0 0;
  }
}

.react-grid-item > .react-resizable-handle {
  background-image: url(/resize.svg);
  &::after {
    border: none;
  }
}