$page_background: #f7f7f7;;
$page_background_overlay: transparent;
$widget_background: white;
$widget_title_background: rgba(0,0,0,0);
$widget_body_text_color: #1a1a1a;
$widget_body_strong_text_color: #1a1a1a;

$foreground_highlight_color: #eee;

$stripe_background_odd: transparent;
$stripe_background_even: transparent;
$stripe_background_hover: transparent;

$deemphasized_text: rgba(26, 26, 26, .5);
$double_deemphasized_text: rgba(26, 26, 26, .5);

@mixin heading_font_styles {
  font-weight: 700;
  color: $widget_body_strong_text_color;
}

$widget_ui_control_color: rgb(68, 128, 184);
$widget_ui_control_highlight_color: lighten($widget_ui_control_color,20%);

$widget_ui_control_danger: rgb(168, 84, 84);
$widget_ui_control_success: rgb(84, 168, 84);
