$page_background: url(./background.jpg) no-repeat center center;
$page_background_overlay: rgba(0,0,0,0.6);
$widget_background: rgba(0,0,0,0.15);
$widget_stripe: rgba(150,150,150,0.2);
$widget_title_background: rgba(0,0,0,0);
$widget_body_text_color: #CCD;
$widget_body_strong_text_color: #EEF;

$foreground_highlight_color: rgba(20,20,20,0.4);

$stripe_background_odd: lighten($foreground_highlight_color,7%);
$stripe_background_even: $foreground_highlight_color;
$stripe_background_hover: lighten($foreground_highlight_color,35%);

$deemphasized_text: darken(desaturate($widget_body_text_color,40%),40%);
$double_deemphasized_text: darken(desaturate($widget_body_text_color,50%),50%);

@mixin heading_font_styles {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: $widget_body_strong_text_color;
}

$widget_ui_control_color: rgb(68, 128, 184);
$widget_ui_control_highlight_color: lighten($widget_ui_control_color,20%);

$widget_ui_control_danger: rgb(168, 84, 84);
$widget_ui_control_success: rgb(84, 168, 84);
