.calendar-items {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.calendar-item {
  position: absolute;
  padding: 0.5em;
  background: #2a2a2d;
  left: 0;
  right: 0;
}

.calendar-item-name {
  font-weight: bold;
}

.calendar-item-timespan {
  font-size: 0.75em;
  color: #888;
  margin-top: 3px;
}

.calendar-now {
  position: absolute;
  height: 1px;
  background: #779;
  left: 0;
  right: 0;
}

.calendar-item-timespan-start:after {
  content: ' - ';
}
