.widget-rss {
  order: 0;
}

.rss-feed {
  margin-bottom: 1em;
}

.rss-feed-item {
  display: block;
  color: inherit;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-decoration: none;
}

.rss-feed-item:visited {
  color: #555;
}

.rss-feed-item:hover {
  background: #444;
}

.rss-feed-item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: space-between;
}

.rss-feed-item-date {
  white-space: nowrap;
}
