.widget-rss {
  order: 0;
}

.rss-feed {
  margin-bottom: 1em;
}

.rss-feed-item {
  display: block;
  color: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-decoration: none;
}

.rss-feed-item:visited {
  color: #555;
}

.rss-feed-item:hover {
  background: #444;
}

.rss-feed-item-title {
  padding: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: space-between;
}

.rss-feed-item-date {
  padding: 0.5em;
  white-space: nowrap;
}

.rss-feed-item-author,
.rss-feed-item-website {
  margin-left: 0.5em;
  font-size: 0.75em;
  color: #888;
}

.rss-feed-item:visited .rss-feed-item-author,
.rss-feed-item:visited .rss-feed-item-website {
  color: #555;
}

.rss-feed-item-author:after {
  content: ' /';
}
