.widget {
  background-color: #222226;
  flex-grow: 1;
  margin-right: 1em;
  position: relative;
  perspective: 800px;
}

.widget-title {
  padding: 0.5rem;
  font-size: 16px;
  background: #333336;
  font-weight: bold;
}

.widget-title-edit {
  border: none;
  outline: none;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 0;
  background: none;
  color: white;
  font-size: 0.75em;
  float: right;
  cursor: pointer;
}

.widget-title-edit:hover {
  text-decoration: underline;
}

.widget-body {
  padding: 0.25rem;
  color: #ccc;
  transform: rotate3d(0, 1, 0, 0);
  backface-visibility: hidden;
  transition: transform 1s;
  position: relative;
  z-index: 1;
}

.widget-edit {
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate3d(0, 1, 0, 180deg);
  backface-visibility: hidden;
  transition: transform 1s;
  z-index: 0;
  background: #eee;
  color: #111;
  padding: 1em;
  overflow: scroll;
}

.widget-edit-save-container {
  margin-top: 1em;
}

.widget-edit-save {
  border: none;
  outline: none;
  background: #444;
  color: #fff;
  font-weight: bold;
  padding: 0.5em 1em;
  cursor: pointer;
}

.widget-edit-save:hover {
  text-decoration: underline;
}

.widget-editing .widget-body {
  transform: rotate3d(0, 1, 0, -180deg);
  z-index: 0;
}

.widget-editing .widget-edit {
  transform: rotate3d(0, 1, 0, 0);
  z-index: 1;
}
  

.widget-rss,
.widget-twitter {
  width: 50%;
}

.widget-weather,
.widget-tasks,
.widget-email,
.widget-calendar {
  margin-right: 0;
}

.widget-weather,
.widget-tasks,
.widget-email {
  margin-bottom: 1em;
}

.widget-tasks,
.widget-email {
  height: 160px;
  flex-grow: 0;
}

.widget-scroll .widget-body {
  overflow: scroll;
  position: absolute;
  top: 3em;
  right: 0;
  bottom: 0;
  left: 0;
}

.widget-subhead {
  font-size: 14px;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #fff;
}

.striped {
  background: #262629;
}

.striped:nth-child(even) {
  background: #2a2a2d;
}

.widget-big-numbers {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.widget-big-numbers-group {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  background: #2a2a2d;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.widget-big-numbers-number {
  font-size: 6em;
  font-weight: bold;
  line-height: 0.9em;
}

.widget-big-numbers-label {
  color: #aab;
  line-height: 2em;
}

.widget-form-field {
  margin-bottom: 1em;
  clear: both;
}

.widget-form-field:last-child {
  margin-bottom: 0;
}

.widget-input-label {
  font-weight: bold;
  display: block;
  clear: both;
}

.widget-input {
  width: 100%;
  border: solid 1px #333;
  background: white;
  outline: none;
  display: block;
  clear: both;
  font-size: 1em;
  padding: 0.5em;
  margin-top: 0.5em;
}

.widget-input:focus {
  box-shadow: 0 0 5x rgba(0,0,0,0.5);
}

.widget-settings-section {
  padding: 0.5em;
  border: solid 1px #888;
}

.widget-settings-section legend {
  font-weight: bold;
  font-size: 1.25em;
}