@import '../vars_mixins.scss';

.calendar-items {
  position: absolute;
  top: 3em;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.calendar-item {
  position: absolute;
  padding: 0.5em;
  background: $foreground_highlight_color;
  left: 0;
  right: 0;
}

.calendar-item-name {
  // font-weight: bold;
}

.calendar-item-timespan {
  font-size: 0.75em;
  color: $deemphasized_text;
  margin-top: 3px;
}

.calendar-now {
  position: absolute;
  height: 1px;
  background: $widget_ui_control_color;
  left: 0;
  right: 0;
}

.calendar-item-timespan-start:after {
  content: ' - ';
}
