@import '../vars_mixins.scss';

.rss-feed {
  margin-bottom: 1em;
}

.rss-feed-item {
  display: block;
  color: inherit;
  padding: 0.5em 0;
  border-bottom: 1px solid $foreground_highlight_color;
  transition: background 0.25s;
  &:hover {
    // background: $foreground_highlight_color;
    .rss-feed-item-title {
      text-decoration: underline;
    }
  }
}

.rss-feed-item-date,
.rss-feed-item-author,
.rss-feed-item-website {
  font-size: 0.75em;
  color: $deemphasized_text;
}

.rss-feed-item-website:after,
.rss-feed-item-author:after {
  content: ' - ';
}
