.twitter-feed {
  float: left;
  padding-right: 0.5em;
  margin-bottom: 1em;
}

.twitter-feed-tweet {
  clear: both;
  height: 50px;
  padding: 1em 0.5em;
  box-sizing: content-box;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid var(--foreground-highlight-color);
}

.twitter-feed-tweet a {
  color: inherit;
}

.twitter-feed-tweet-profile-image {
  float: left;
  display: block;
  width: 50px;
  height: auto;
  margin-right: 0.5em;
  border-radius: 50%;
}

.twitter-feed-tweet-screen-name {
  color: var(--deemphasized-text);
}

.twitter-feed-tweet-date {
  font-size: 0.75em;
  color: var(--deemphasized-text);
  float: right;
}

.twitter-feed-tweet-name {
  margin-right: 0.25em;
  color: var(--widget-body-strong-text-color);
  font-weight: 600;
}

.twitter-feed-tweet-header {
  padding-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.twitter-feed-tweet-header a {
  text-decoration: none;
}

.twitter-feed-tweet-text {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.1em;
  position: relative;
}

.in-tweet-link {
  text-decoration: underline;
}
