@import '../vars_mixins.scss';

.twitter-feed {
  width: 50%;
  float: left;
  padding-right: 0.5em;
  margin-bottom: 1em;
}

.twitter-feed-tweet {
  clear: both;
  height: 50px;
  padding: 0.5em;
  box-sizing: content-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.twitter-feed-tweet a {
  color: inherit;
}

.twitter-feed-tweet-profile-image {
  float: left;
  display: block;
  width: 50px;
  height: auto;
  margin-right: 0.5em;
}

.twitter-feed-tweet-date {
  font-size: 0.75em;
  color: $deemphasized_text;
}

@media (max-width: 1900px) {
  .twitter-feed {
    width: auto;
    float: none;
  }
}

.twitter-feed-tweet-name {
  margin-right: 0.5em;
  color: $widget_body_strong_text_color;
}

.twitter-feed-tweet-header {
  padding-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.twitter-feed-tweet-header a {
  text-decoration: none;
}

.twitter-feed-tweet-text {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.1em;
  position: relative;
}

.in-tweet-link {
  text-decoration: underline;
}
