@import '../vars_mixins.scss';

.weather-forecasts {
  position: absolute;
  top: 3em;
  right: 0;
  left: 0;
  bottom: 3em;
  overflow: hidden;
}

.weather-forecast {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  transition: all 0.5s linear;
}

.weather-content {
  max-width: 300px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .weather-icon-wrapper {
    position: absolute;
    width: 45%;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .weather-text {
    width: 55%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .weather-description {
    font-weight: 700;
    font-size: 1.5em;
    padding-bottom: 0.25em;
  }
  .weather-key-value {
    font-size: 1.25em;
    padding: 0.25em 0;
    .weather-key {
      font-weight: 600;
    }
  }
}

.weather-nav-labels {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  .weather-nav-label {
    border: none;
    outline: none;
    padding: 1em;
    margin: 0;
    text-transform: uppercase;
    &.active {
      font-weight: 600;
    }
  }
}

// .widget-weather .widget-body {
//   position: absolute;
//   top: 3em;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }

// // .weather-wrapper {
// //   position: relative;
// //   padding-right: 0.5em;
// // }

// .weather-now {
//   // flex: 0 0 150px;
//   width: 30%;
//   float: left;
// }

// .weather-forecast {
//   // flex: 0 0 auto;
//   width: 70%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   overflow: scroll;
// }

// .weather-now .weather-icon {
//   width: 70%;
//   height: auto;
//   display: block;
//   margin: auto;
// }

// .weather-now-content {
//   text-align: center;
//   line-height: 1.25em;
//   font-size: 1.25em;
//   padding: 0.25rem;
// }

// .weather-label {
//   padding: 3px;
//   color: $widget_body_strong_text_color;
//   @include heading_font_styles;
// }

// .weather-forecast-item {
//   clear: both;
//   line-height: 1.25em;
// }

// .weather-forecast-item .weather-content {
//   display: flex;
//   flex-direction: row;
//   align-items: stretch;
//   justify-content: space-between;
//   margin-top: 0;
// }

// .weather-forecast-item .weather-text {
//   flex-grow: 1;
//   margin-left: 0.5em;
//   padding-bottom: 0.5em;
// }

// .weather-forecast-item .weather-high,
// .weather-forecast-item .weather-low {
//   float: left;
//   margin-right: 0.5em;
//   font-size: 0.9em;
//   color: $deemphasized_text;
// }

// .weather-forecast-item .weather-icon {
//   width: 50px;
//   height: auto;
// }
