@import '../vars_mixins.scss';

.widget-weather .widget-body {
  position: static;
}

.weather-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

.weather-now {
  flex: 0 0 150px;
}

.weather-forecast {
  flex: 0 0 1;
}

.weather-now .weather-icon {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}

.weather-now-content {
  text-align: center;
  line-height: 1.25em;
  font-size: 1.25em;
  padding: 0.25rem;
}

.weather-label {
  padding: 3px;
  color: $widget_body_strong_text_color;
  @include heading_font_styles;
}

.weather-forecast-item {
  clear: both;
  line-height: 1.25em;
}

.weather-forecast-item .weather-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 0;
}

.weather-forecast-item .weather-text {
  flex-grow: 1;
  margin-left: 0.5em;
  padding-bottom: 0.5em;
}

.weather-forecast-item .weather-high,
.weather-forecast-item .weather-low {
  float: left;
  margin-right: 0.5em;
  font-size: 0.9em;
  color: $deemphasized_text;
}

.weather-forecast-item .weather-icon {
  width: 50px;
  height: auto;
}
