@import '../vars_mixins.scss';

.widget {
  background: $widget_background;
  border-left: solid 4px $widget_stripe;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: move;
  width: 100%;
  height: 100%;
  transform: rotate3d(0, 1, 0, 0);
  backface-visibility: hidden;
  transition: all 1s;
  z-index: 1;
  opacity: 1;
}

.widget-title {
  padding: 0.5rem;
  font-size: 16px;
  background: $widget_title_background;
  @include heading_font_styles;

  .spinner {
    float: right;
  }
}

.widget-title-edit {
  z-index: 0;
  border: none;
  outline: none;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 0;
  background: none;
  color: white;
  font-size: 0.6em;
  float: right;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.widget-body {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  color: $widget_body_text_color;
  backface-visibility: hidden;
}

.widget-scroll .widget-body {
  overflow: scroll;
  position: absolute;
  top: 3em;
  right: 0;
  bottom: 0;
  left: 0;
}

.widget-subhead {
  font-size: 13px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  @include heading_font_styles;
}

.striped {
  background: $stripe_background_odd;
}

.striped:nth-child(even) {
  background: $stripe_background_even;
}

.striped-hover:hover {
  background: $stripe_background_hover
}

.widget-big-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // margin: -20px 0 0 0;
  width: 100%;
}

.widget-big-numbers-group {
  flex-grow: 0;
  text-align: center;
  border-right: solid 3px $foreground_highlight_color;
  border-left: solid 3px $foreground_highlight_color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  margin-bottom: 0.5rem;
}

.widget-big-numbers-number {
  font-size: 5em;
  line-height: 0.9em;
  color: $widget_body_strong_text_color;
}

.widget-big-numbers-label {
  line-height: 2em;
  @include heading_font_styles;
  color: $deemphasized_text;
}

.faux-link {
  cursor: pointer;
}

.widget-wrapper {
  perspective: 800px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  &.widget-editing {
    .widget {
      transform: rotate3d(0, 1, 0, -180deg);
      z-index: 0;
      opacity: 0;
    }
  
    .widget-editor {
      transform: rotate3d(0, 1, 0, 0);
      z-index: 1;
      opacity: 1;
    }
  }
}

.widget-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate3d(0, 1, 0, 180deg);
  backface-visibility: hidden;
  transition: all 1s;
  z-index: 0;
  background: #eee;
  color: #111;
  padding: 1em;
  overflow: scroll;
  opacity: 0;
}

.widget-editor-title {
  font-size: 16px;
  @include heading_font_styles;
  color: inherit;
}

.widget-editor-body {
  position: absolute;
  top: 3em;
  left: 1em;
  right: 1em;
  bottom: 1em;
}

.widget-editor-json {
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2.75em;
  font-family: monospace;
}

.widget-editor-buttons {
  text-align: right;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.widget-editor-button {
  margin-left: 0.5em;
  &.destructive {
    float: left;
    margin-left: 0;
  }
}
