@import '../vars_mixins.scss';

.widget-big-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // margin: -20px 0 0 0;
  width: 100%;
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 1em;
  align-items: center;
}

.widget-big-numbers-group {
  flex-grow: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.widget-big-numbers-number {
  font-size: 5em;
  line-height: 0.9em;
  font-weight: 600;
  color: $widget_body_strong_text_color;
}

.widget-big-numbers-label {
  line-height: 2em;
  text-transform: uppercase;
  color: $deemphasized_text;
}
