.widget {
  background: var(--widget-background);
  border: solid 1px transparent;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .05);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: move;
  width: 100%;
  height: 100%;
  transform: rotate3d(0, 1, 0, 0);
  backface-visibility: hidden;
  transition: all 1s;
  z-index: 1;
  opacity: 1;
}

.widget-error {
  border-color: var(--widget-ui-control-danger);
}

.widget-title {
  padding: 1rem;
  font-size: 16px;
  background: var(--widget-title-background);
  font-weight: var(--heading-font-weight);
  color: var(--widget-body-strong-text-color);
}

.widget-title .spinner {
  float: right;
}

.widget-title-edit {
  z-index: 0;
  border: none;
  outline: none;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 0;
  background: none;
  font-size: 0.6em;
  float: right;
  cursor: pointer;
}

.widget-title-edit:hover {
  text-decoration: underline;
}

.widget-body {
  padding: 1rem;
  color: var(--widget-body-text-color);
  backface-visibility: hidden;
}

.widget-error-details {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  color: white;
  background: var(--widget-ui-control-danger);
}

.widget-scroll .widget-body {
  overflow: scroll;
  position: absolute;
  top: 3em;
  right: 0;
  bottom: 0;
  left: 0;
}

.widget-subhead {
  font-size: 13px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: var(--heading-font-weight);
  color: var(--widget-body-strong-text-color);
}

.striped {
  background: var(--stripe-background-odd);
}

.striped:nth-child(even) {
  background: var(--stripe-background-even);
}

.striped-hover:hover {
  background: var(--stripe-background-hover)
}

.faux-link {
  cursor: pointer;
}

.widget-wrapper {
  perspective: 800px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.widget-editing .widget {
  transform: rotate3d(0, 1, 0, -180deg);
  z-index: 0;
  opacity: 0;
}

.widget-editing .widget-editor {
  transform: rotate3d(0, 1, 0, 0);
  z-index: 1;
  opacity: 1;
}